:root {
    --primary-color: rgb(70, 90, 184);
    --secondary-color: rgb(38, 19, 96);
    --tertiary-color: white;
    --fourth-color: rgb(105, 145, 227);
    --fifth-color: rgb(174, 174, 174);
    --sixth-color: rgb(50, 61, 79);
    --seventh-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 1;
    font-family: Arial, Helvetica, 'Open Sans', sans-serif;
    border-radius: 10px; 
    border: 2px solid var(--sixth-color);
    padding: 1%;
    position: relative;
}

body, html { 
    min-height: 100vh;
    margin: 1%;
}

.jumbotron {
    text-align: center;
    color: var(--tertiary-color);
    background-image: linear-gradient(to right, var(--primary-color) , var(--secondary-color));
    padding: 1%;
}

.btn-search {
    border: 0;
    padding: 3% 4%;
    color: var(--tertiary-color);
    font-size: 16px;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: content-box;
}

.color-blue {
    background-color: var(--fourth-color);
}

.color-gray {
    background-color: var(--fifth-color);
}

.color-darkBlue {
    background-color: var(--sixth-color);
    color: var(--tertiary-color);
}

form {
    border-bottom: 2px solid var(--fifth-color); 
}

#future-title {
    visibility: hidden;
}